$background-color: rgb(26, 41, 68);
@font-face {
  font-family: 'Roboto';
  src: url('./Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

html, body, #root {
  height: 100%;
}

#root {
  background-color: $background-color;
}
